#baobab-location-scrolled-window {
    border-width: 1px 0 0 0;
}

#baobab-location-viewport {
    background-color: #f1f2f1;
}

BaobabBaseLocationWidget {
    padding: 6px;

    border-radius : 6px;
    border-width: 1px;
    border-color: @borders;
    border-style: solid;
    background-color: @theme_base_color;
}
